/* GLOBAL  */
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::after,::before{box-sizing: border-box;}

body{
   background-color: #909090; 
    padding: 1px;
font-family: 'Reem Kufi Fun', sans-serif;
font-family: 'Varela Round', sans-serif;}

:root{
    --logocolor:#b3d1ff;
    --linkcolor: #f1f1f1;
}
hr{
    background-color: var(--logocolor);
}

============================================


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: var(--linkcolor);}

.navbar-light .navbar-nav .nav-link {
    color: var(--linkcolor);
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--logocolor);
    transform: scale(1.1,1.1);
}
.navbar-light .navbar-brand{
      color:var(--logocolor);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;  
}
.btn-search{
    color: #f1f1f1;
    border:1px solid #f1f1f1;
    background-color: #909090;
    font-weight: 500;
    margin-right: 10px;
}
.btn-search:hover{
    background-color: var(--logocolor);
}
.w-100{
    height: 100vh;
}
@media only screen and (max-width:767px) {
    .navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler{
        padding: 1px 5px;
        font-size: 15px;
        line-height: .3;
        background: var(--linkcolor);
    }
}

========================================

/* HOME SECTION-------------- */

.carousel-item
{
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}
.carousel-caption{
    bottom: 230px;
}
.carousel-caption h3{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
}
.carusal-control-prev span, .carusal-control-next span{
    background-color: #383535;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
============================================

/* WELCOM SECTION------------- */
.welcom{
    width: 100%;
    height: 30vh;
}
.welcom h2{
    font-size: 45px;
    font-weight: 600;
    color: var(--linkcolor);
    margin-left: 30px;
padding-top: 40px;
letter-spacing: 2px;
}
.welcom p{
    font-size: 20px;
    color: var(--linkcolor);
    margin-left: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
}
.welcom span{
    font-size: 25px;
    text-shadow:0px 5px 5px #00e1ff;
}
.welcom .btn{
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px 28px;
    font-size: 18px;
    border: 1px solid #f1f1f1;
}
/* ================================================= */

/* section programming */
/* TITLE */
.prog{
    height: 20vh;
    padding: 1px;
}
.prog h2{
    color: var(--linkcolor);
    letter-spacing: 2px;
    text-align: center;
    margin: 35px auto;
}
/* CARDS */


.card-header .btn-link {
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
    color: #909090;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.card-header .btn-link::after{
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('../img/تنزيل.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.card-header .btn-link:hover{
    color: var(--logocolor);
}
/* /======================================= */
/* ------language code------ */
.lang-title h2{
    height: 90px;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--linkcolor);
}
.lang-code p{
    color: var(--linkcolor);
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 40px;
    padding-top: 30px;
    margin-top: 0;
}
.code-link{
    text-decoration: none;
    color: var(--logocolor);
    font-size: 30px;
}
.text-info{
    font-size: 25px;
    font-weight: 500;
}
.copy{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 12px;
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
}
/* /////////////////////////////////////////// */

/* background-image */
.backg-img{
   background-image: url('../img/pexels-christina-morillo-1181675.jpg'); 
}
.fixed-img{
    height: 250px;
    background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}
.backg-img1{
   background-image: url('../img/pexels-jorge-jesus-614117.jpg'); 
}
/* /////////////////////////////////////// */

/* COURSES */

.card img:hover ,.card .btn:hover{
    transform: scale(.9,.9);
}
.cr-lang{
    height: 450px;
}
/* ====================================== */
/* our team------ */
.card-team{
    height: 400px;
}
.team-icon{
    color: var(--linkcolor);
    font-size: 25px;
    margin-right: 10px;
    transition: .5s ease;
}
.team-icon:hover{
    color: var(--logocolor);
    transform: scale(1.5,1.5);
}
/* ========================== */
/* social icons */

.cd-icon{
    height: 200px;
    text-align: center;
}

.social{
    color: var(--logocolor);
    font-size: 45px;
}
.social-link:hover{
    font-size: 20px;
}
/* ======================= */
/* footer */
.icon{
    font-size: 40px;
}















